{% if site.navigation_header %}
<nav class="nav  nav--header">
  <ul class="list  list--nav">
    {% for item in site.navigation_header %}

      {% if item.url contains '://' %}
        {% assign url = item.url %}
      {% else %}
        {% assign url = item.url | relative_url %}
      {% endif %}

      <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
        <a href="{{ url }}">
        {% if item.url contains 'facebook.com' %}
            {% include icon.html id="facebook" title="facebook" %}
        {% elsif item.url contains 'instagram.com' %}
            {% include icon.html id="instagram" title="instagram" %}
        {% elsif item.url contains 'twitter.com' %}
            {% include icon.html id="twitter" title="twitter" %}
        {% elsif item.url contains 'youtube.com' %}
            {% include icon.html id="youtube" title="youtube" %}
        {% elsif item.url contains 'skype.com' %}
            {% include icon.html id="skype" title="skype" %}
        {% elsif item.url contains 'twitch.tv' %}
            {% include icon.html id="twitch" title="twitch" %}
        {% elsif item.url contains 'vimeo.com' %}
            {% include icon.html id="vimeo" title="vimeo" %}
        {% elsif item.url contains 'reddit.com' %}
            {% include icon.html id="reddit" title="reddit" %}
        {% elsif item.url contains 'linkedin.com' %}
            {% include icon.html id="linkedin" title="linkedin" %}
        {% elsif item.url contains 'github.com' %}
            {% include icon.html id="github" title="github" %}
        {% elsif item.url contains 'pinterest.com' %}
            {% include icon.html id="pinterest" title="pinterest" %}
        {% elsif item.url contains '/feed' or item.url contains '/rss' %}
            {% include icon.html id="rss" title="rss" %}
        {% endif %}
        {{ item.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <button class="button  button--nav" aria-label="Menu toggle">
    {% include icon.html id="nav" title="Menu" %}
  </button>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.header .list--nav')
  const button  = document.querySelector('.header .button--nav')

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (document.body.clientWidth < 640) {
      navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
    } else {
      navList.removeAttribute('style')
    }

    button.onclick = () => {
      navList.style.setProperty('transition', `margin .1s`)
      if (navList.style.getPropertyValue('--listHeight')) {
        navList.style.removeProperty('--listHeight')
      } else {
        navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
      }
    }
  }

  collapseNav()

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav()
  })
</script>
