<footer class="footer">
  <div class="container">
    <div class="content typeset">
      <div class="columns columns--three">
        <div class="column">
          <strong>Netroufáš si na Slovensko?</strong>
          <p>Ještě tu je sesterský kurz <a href="https://fons.skauting.cz/">FONS Beníšky</a>:
            <br>
            <a href="https://fons.skauting.cz/">
              <img src="/assets/logos/fons_benisky@60px.png" alt="Fons Beníšky">
            </a>
          </p>
          <p>Nebo se podívej na další <a href="https://roverskekurzy.cz/">roverské kurzy</a>.</p>
        </div>

        <div class="column">
          <strong>Spoj sa s nami</strong>
          <ul style="margin-top: 0.5rem;">
            <li>
                {% include icon.html id="phone" title="" %}
                SK: +421 918 908 461 (odpoví Mária)
            </li>
            <li>
                {% include icon.html id="phone" title="" %}
                CZ: +420 607 207 633 (odpoví Terez)
            </li>
            <li>
                {% include icon.html id="email" title="" %}
                fons{zavinac}scouting.sk
            </li>
            <li>
              <a href="https://www.facebook.com/pages/FONS-Slovensko/123176574470887">
                {% include icon.html id="facebook" title="facebook" %}
                FONS-Slovensko
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/fonsslovensko/">
                {% include icon.html id="instagram" title="instagram" %}
                fonsslovensko
              </a>
            </li>
          </ul>
        </div>

        <div class="column">
          <strong>Partneři</strong>
          <p>
            <a href="https://fons.skauting.sk/images/slsk_black.png">
              <img src="/assets/logos/slsk.png" alt="Slovenský skaut">
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
