<footer class="footer">
  <div class="container">
    <div class="content typeset">
      <div class="columns columns--three">
        <div class="column">
          <strong>Netroufáš si na Slovensko?</strong>
          <p>Ještě tu je sesterský kurz <a href="https://fons.skauting.cz/">FONS Beníšky</a>:
            <br>
            <a href="https://fons.skauting.cz/">
              <img src="/assets/logos/fons_benisky_white@98px.png" alt="Fons Beníšky">
            </a>
          </p>
          <p>Nebo se podívej na další <a href="https://roverskekurzy.cz/">roverské kurzy</a>.</p>
        </div>

        <div class="column">
          <strong>Spoj sa s nami</strong>
          <ul style="margin-top: 0.5rem;">
            <li>
                {% include icon.html id="phone" title="" %}
                SK: +421 918 908 461 (odpoví Mária)
            </li>
            <li>
                {% include icon.html id="phone" title="" %}
                CZ: +420 775 624 641 (odpoví Áňa)
            </li>
            <li>
                {% include icon.html id="email" title="" %}
                fons{zavinac}scouting.sk
            </li>
          </ul>
          <div style="margin: 0.2rem;"></div>
          <strong>Najdete nás na</strong>
          <p>
              <a href="https://www.facebook.com/pages/FONS-Slovensko/123176574470887">
                {% include icon.html id="facebook" title="facebook" %}
              </a>
              &emsp;
              <a href="https://www.instagram.com/fonsslovensko/">
                {% include icon.html id="instagram" title="instagram" %}
              </a>
          </p>
        </div>

        <div class="column">
          <p>
            <a href="https://www.skaut.cz/">
            <img src="/assets/logos/SKAUT_logo_bile_stit@108px.png" alt="Junák -- Český skaut">
            </a>
          </p>
          <p>
            <a href="https://www.skauting.sk/">
              <img src="/assets/logos/SLSK-logo-mono_biele@108px.png" alt="Slovenský skaut">
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
